@model PotteryAPI.Models.ProductVariant

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>ProductVariant</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VariantName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VariantName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Sku)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Sku)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StockQuantity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StockQuantity)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ImageUrl)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ImageUrl)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsDefaultVariant)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsDefaultVariant)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Material)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Material)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VolumeMl)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VolumeMl)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HeightCm)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HeightCm)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DiameterCm)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DiameterCm)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Product)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Product.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
